.outer-main-create{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.inner-main-create{
    margin-left: 32%;
    width: 50%;
}
.btn-next-div{
    display: flex;
    float: right;
}
.btn-next{
    color: white;
}
.btn-next:hover{
    color: #3ecca4;
}
.required-fields {
    color: #3ecca4;
}