.outer-main-profile {
    background-color: black;
    display: flex;
    color: white;
    min-height: 100vh;
}

.inner-main-profile {
    margin-left: 18%;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.list-group-item {
    display: flex;
    align-items: center;
    color: #3ecca4;
}

.outer-div-comment{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons-profile {
    display: flex;
    justify-content: flex-end;
}

.top-profile {
    border-radius: 32px;
}

.btn-edit {
    background-color: black;
    width: 40px;
    height: 40px;
}
.exit-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.exit-btn:hover{
    background-color: #212529;
    border: #212529;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-delete{
    width: 40px;
    height: 40px;
}
.btn-delete:hover{
    background-color: #212529;
    border: #212529;
}
.comments{
    display: flex;
    flex-direction: column;
}
.edit-form{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: #3ecca4 dashed 1px;
    padding-top: 16px;
}