.outer-main-profile{
    background-color: black;
    display: flex;
    color: white;
    min-height: 100vh;
}
.inner-main-profile{
    margin-left: 18%;
}
.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  
.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons-profile{
    display: flex;
    justify-content: flex-end;
}
.top-profile{
    border-radius: 32px;
}
.btn-edit{
    background-color: black;
}