
.outer-main-robbie{
    background-color: black;
    height: 100vh;
}
.inner-main-robbie{
    margin-left: 18%;
}


/* robbie-styles.css */

.scrollbar-container 
{
  background-image: url('../images/backgroundRobbie.jpeg') !important;


}




.cs-message__content {
    background-color: #82CAA9 !important;
    color: #333 !important;
  }
  
  .cs-message-input__content-editor{
    background-color: #82CAA9!important;
    color: #333!important;
  }



  .cs-message-input__content-editor-wrapper{
    background-color: #82CAA9 !important;
    color: #333!important;
  }


.cs-button--attachment {
    color: #30a771 !important;
}

.cs-typing-indicator__text{
    color: #30a771!important;
}
.cs-button--send{
  color: #30a7719f!important;
}