.outer-main-update-profile{
    background-color: black;
    min-height: 100vh;
    color: white;
}
.inner-main-update-profile{
    margin-left: 18%;
}
.btn-update{
    background-color:#3ecca4;
    color: white;
}